<header>
  <img
    src="assets/img/dener.jpg"
    alt="Gabriel Motroni - Foto Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Gabriel Motroni</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack | Javascript | Angular | React | Nodejs | Nestjs</p>
    <p>Sacomã, São Paulo, Brasil</p>
    <p>
      Estou na área de desenvolvimento de sofware há mais de três anos. Devido
      isso resolvi abraçar a stacj JS pois atua no Fronted / Backend
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primaty"
            >Download CV</a
          >
          <a
            href="https://www.linkedin.com/in/gabriel-motroni/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figcaption>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do whatsapp"
          width="22px"
          height="24px"
        />
      </figcaption>
    </section>
  </div>
</aside>
