
//para ajudar responsividade
.container{
  width: 700px;
  position: relative;
  //retrai pra dentro da div
  box-sizing: border-box;
}

// para ajudar responsividade
// aplicar esses estilos somente se a largura da tela (ou janela) for de 750 pixels ou menos
@media(max-width: 750px ){
  .container{
    width: 100%;
    padding: 0 20px;
  }

}
